// main color variables
// primary palette
$teal: #00CFB5;
$pale-teal: #00CFB5;
$white: #ffffff;
// secondary palette
$blue: #0C2340;
$light-teal: #00CFB5;
$off-white: #F7F7F7;
// accent palette
$lime: #BFED33;
$lemon: #FFF063;
$pastel-blue: #69B8F7;
$vista-blue: #688CE8;
$rich-blue: #5450E4;
// grays
$lighter-grey: #f1f3f7;
$grey: #d1d6e1;
$darker-grey: #E0E4EC;
$dark-grey: #A3ADC2;
$silver :#7F899C;
$pale-blue: #CFDADE;
$light-grey: #dee2e6;

$salmon-red: #ff6961;
$darker-red: #D41B2C;